.btnStyle {
    background-color: black;
    color: #fafafa;

    text-decoration: none;
    padding: 20px;
    border-radius: 5px;
}
.modalStyle {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;

    left: 0;
    top: 0;

    background-color: rgba(0,0,0,0.8);
}
.modalContent {
    background-color: #f2f2f2;
    margin: 15% auto;
    border: 1px solid #000000;
    border-radius: 5px;
    width: 50%;
    height: 30%;
}
.close {
    float: right;
    color: #000000;
    font-size: 20px;
    padding: 10px;
}
.content {
    padding-top: 6%;
    text-align: center;
    font-size: 30px;
}